:root {

  
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --white: #fff;
  --black: #222;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CALIBRE */
@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre/Calibre-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre/Calibre-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('/fonts/Calibre/Calibre-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/Silk/SilkSerif-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SilkSerif';
  src: url('/fonts/Silk/SilkSerif-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Calibre',sans-serif;
}